{% extends "base.html" %}
{% block title %} 課前問卷 {% endblock %}
{% block head_ext %}
<script>
  
function color(element) {
  element.style.backgroundColor = "";    
}
  
function validateForm() {

    if (document.forms["myForm"]["p1"].value=="") {
        alert("請填寫您的答案!!!");
        var row = document.getElementById('trp1')
        row.style.backgroundColor = "#ffb0aa";       
        top = row.offsetTop
        window.scrollTo( 0, top );
      return false;
    }
{% for quesiton in questions %}  
    if (document.forms["myForm"]["p2_{{forloop.counter}}"].value=="") {
        alert("請填寫您的答案!!");
        var row = document.getElementById('trp2_{{forloop.counter}}')
        row.style.backgroundColor = "#ffb0aa";        
        var top = document.getElementById('trp2_{{forloop.counter}}').offsetTop + 100
        window.scrollTo( 0, top );      
        return false;
    }  
{% endfor %}
}
</script>
{% endblock %}
{% block content %}
    <h1>課前問卷</h1>
    <form action="." enctype="multipart/form-data" name="myForm" method="post" onsubmit="return validateForm()">
        {% csrf_token %}
            <h2>壹、請依據下列題意填答</h2>
            <table class="table table-condensed tablesorter tablesorter">
                <tr>
                    <th>問題</th><th></th><th></th>
                </tr>
                <tr id="trp1" onclick="color(this)">
                    <td>1.我曾經學過程式設計。</td>
                    <td><div class="radio"><input type="radio" name="p1" id="psp1_t" value="2" {% ifequal questionaire.p 2 %}checked{% endifequal %}/><label for="psp1_t">是</label></div></td>
                    <td><div class="radio"><input type="radio" name="p1" id="psp1_f" value="1" {% ifequal questionaire.p 1 %}checked{% endifequal %}/><label for="psp1_f">否</label></div></td>                    
                </tr>
           
                <tr id="psp1_desc_tr" style="display: {% ifequal questionaire.p 2 %}{% else %}none{% endifequal %}"><td colspan="3"><input class="form-control" type="text" name="p1t" id="psp1_desc" placeholder="請輸入學過的程式語言名稱" value="{{questionaire.p_t}}"/></td></tr>
            </table>
            <h2>貳、請依據題意在下列四個選項中，選填一個最適當的選項</h2>
            <table class="table tablesorter">
                <tr>
                    <th class="col-md-8">問題</th>
                    <th class="col-md-1"></th>
                    <th class="col-md-1"></th>
                    <th class="col-md-1"></th>
                    <th class="col-md-1"></th>
                </tr>
                {% for question in questions %}
                <tr class="form-group has-error" id="trp2_{{forloop.counter}}" onclick="color(this)">
                    <td>{{ question.0 }}</td>
                    <td nowrap class="form-group has-error"><div class="radio"><input {% if question.1 == 4 %} checked {% endif %}type="radio" name="p2_{{ forloop.counter }}" id="psp2_{{ forloop.counter }}_4" value="4"/><label for="psp2_{{ forloop.counter }}_4">非常同意</label></div></td>
                    <td nowrap><div class="radio"><input {% if question.1 == 3 %} checked {% endif %}type="radio" name="p2_{{ forloop.counter }}" id="psp2_{{ forloop.counter }}_3" value="3" /><label for="psp2_{{ forloop.counter }}_3">同意</label></div></td>
                    <td nowrap><div class="radio"><input {% if question.1 == 2 %} checked {% endif %}type="radio" name="p2_{{ forloop.counter }}" id="psp2_{{ forloop.counter }}_2" value="2" /><label for="psp2_{{ forloop.counter }}_2">不同意</label></div></td>
                    <td nowrap><div class="radio"><input {% if question.1 == 1 %} checked {% endif %} type="radio" name="p2_{{ forloop.counter }}" id="psp2_{{ forloop.counter }}_1" value="1" ><label for="psp2_{{ forloop.counter }}_1">非常不同意</label></div></td>
                </tr>
                {% endfor %}
            </table>

        </div>
        <input type="submit" value="Submit">
    </form>

{% endblock %}

{% block domready %}
$('#psp1_t').click(function(){
    $('#psp1_desc_tr').show();
    $('#psp1_desc').focus();
});
$('#psp1_f').click(function(){
    $('#psp1_desc_tr').hide();
    //$('#psp1_desc').val('');
});

{% endblock %}
