{% extends "base.html" %}
{% load tz %}
{% block title %}Avatar{% endblock %}

{% block content %}
  <img src="/static/images/jean2004.jpg">
  <h1>高慧君</h1>

  <h1>學歷</h1>
  <Table>
    <Tr><td>國立臺灣師範大學資訊教育學系學士(1992~1996)</td></Tr>    
    <Tr><td>國立臺灣師範大學資訊教育研究所碩士(2000~2004)</td></Tr>    	
  </Table>
  <h1>經歷</h1>
  <Table>
    <Tr><td>臺北市立南港國中數學教師(1996.8~1998.7)</td></Tr>        
    <Tr><td>臺北市立南港國中電腦教師(1998.8~1999.7)</td></Tr>      
    <Tr><td>臺北市立南港高中資訊教師(1999.7~迄今)</td></Tr>    
    <Tr><td>英特爾e教師計畫資深教師(2001.7~2008.6)</td></Tr>   	
    <Tr><td>教育部高中資訊科技概論教科書審定委員(2006.8~2016.12)</td></Tr>    	
    <Tr><td>教育部高中資訊學科中心種子教師(2005.2~2015.12)</td></Tr>    		
    <Tr><td>臺北市自由軟體桌面應用推動及發展小組輔導員(2008.4~2016.12)</td></Tr> 	
  </table>
  <h1>著作</h1>
  <table>
	<tr><td>程式設計輕鬆學─使用Scratch 2.x。松崗。2016出版。</td></tr>
	<tr><td>用積木玩程式設計─使用Scratch 2.x，國小用書。松崗。2015出版。</td></tr>
	<tr><td>程式設計邏輯訓練─使用Scratch。松崗。2013出版</td></tr>	
  </Table>  

{% endblock %}