{% extends "base.html" %}
{% block title %} Teachers {% endblock %}
{% block content %}
{% load tag %}
<BR>
<h1>{{user1.first_name}}的網站使用記錄：{{hour.0}}年{{hour.1}}月{{hour.2}}日{{hour.3}}時</h1>
        <table>
        <tr>
            <td>姓名</td>
            <td>記錄</td>
            <td>時間</td>
        </tr>
        {% for log in events %}		
           <tr>
                <td><a href="/account/profile/{{log.user_id}}">{{log.user_id|name}}</a></td>
                <td>{{log.event}}</a></td>
				<td>{{log.publish| date:"DATE_FORMAT"}}</td>
            </tr>
			{% endfor %}
        </table>
        {% include "pagination.html" with page=page_obj %}
        
        <BR>
{% endblock %}

