{% extends "base.html" %}
{% block title %} Teachers {% endblock %}
{% load tag %}
{% block content %}
        <h1>私訊來源：<a href="/account/profile/{{message.author_id}}">{{message.author_id|name}}</a></h1>
        <h1>私訊對象：{{messagepoll.reader_id|name}}{% if messagepoll.read %}(已讀){% else %}(未讀){% endif %}</h1>
        <table>
            <tr>
                <td>時間</td><td>{{message.time| date:"DATE_FORMAT"}}</td>
            </tr>
            <tr>
                <td>主旨</td> <td>{{message.title}}</td>
            </tr>
            <tr>
                <td>內容</td><td>{{message.content|safe}}</td>
            </tr>
           
        </table>
{% if not request.user.id == message.author_id %}
<h1><a href="/account/line/add/{{classroom_id}}/{{message.author_id}}">回覆訊息</a></h1>
{% endif %}
{% if lists %}
        <h1>歷史私訊</h1>
        <table>
        {% for list in lists %}
        <tr><td>{{list.time}}<a href="/account/line/detail/{{classroom_id}}/{{list.id}}">{{list.title}}</a></td></tr>
        {% empty %}
        <tr><td>無</td></tr>
        {% endfor %}
        </table>
{% endif %}
{% endblock %}