{% extends "base.html" %}
{% block title %} Teachers {% endblock %}
{% load tag %}
{% block content %}
<table>
        <tr>
            <td>學校</td>
            <td>班級</td>					
					  <td>姓名</td>
            <td>時間</td>
            <td>來源</td>
        </tr>
        {% for log in visitorlogs %}
            <tr>
							  <td>{{log.user_id|school}}</td>
							  <td>{{log.user_id|classroom}}</td>
                <td nowrap><a href="/account/profile/{{log.user_id}}">{{log.user_id|name}}</a></td>
				<td nowrap>{{log.time| date:"DATE_FORMAT"}}</td>
              <td nowrap>{{log.IP}}</td>
            </tr>
        {% endfor %}
        </table>
        {% include "pagination.html" with page=page_obj %}
        
        <BR>  
{% endblock %}