{% extends "base.html" %}
{% block title %}{{ bug.title }}{% endblock %}
{% block content %}
<script>
function checkvalue() { 
    var mystring = document.getElementById('id_body').value; 
    if(!mystring.match(/\S/)) {
        alert ('請填寫除錯說明~~');
        return false;
    } else {
        return true;
    }
}
</script>
  <h1>{{ bug.title }}</h1>
  {{ bug.body|linebreaks }}  
  <p class="date">
		{{ bug.publish}}{{ bug.author.first_name }}提出一個bug：
  </p>

<script type="text/javascript" src="/static/sb2/swfobject.js"></script>
 
<script >   
var flashvars = {
project: "/{{bug.file}}" ,
autostart: "false"
};

var params = {
bgcolor: "#FFFFFF",
allowScriptAccess: "always",
allowFullScreen: "true",
wmode: "window",
menu:"‘false"

};
var attributes = {};

swfobject.embedSWF("/static/sb2/Scratch.swf", "flashContent", "482", "387", "10.2.0","expressInstall.swf", flashvars, params, attributes);

</script>
              
<div id="flashContent" >
 
</div>   
<BR><A href="/student/bug/download/{{bug.id}}">原始檔下載</a>
<BR></BR>
  <hr>

{% with debugs.count as total_debug %}
  <h2>
    {{ total_debug }} debug{{ total_debug|pluralize }}
  </h2>
{% for debug in datas %}
  <div class="debug">
    <p class="info">
    {{ debug.0.publish}} by debugger {{ debug.0.author.first_name }}
    作品：
    <br>
    {{ debug.0.body|linebreaks }}
    
  <BR>
  {% if debug.0.reward > 0 %}
  評價時間：{{debug.0.reward_date}}
  {% endif %}
  評價結果：
  {% if debug.0.reward == 3 %}完全解決
  {% elif debug.0.reward == 2 %}大概解決
  {% elif debug.0.reward == 1 %}部份解決
  {% elif debug.0.reward == 1 %}沒有解決 
  {% else %}尚未評價
  {% endif %}
  {% if request.user.id == debug.0.bug_author_id and request.user.id != debug.0.author_id %}
  <BR>
  <form action="/student/bug/value/{{bug.id}}/" method="Post">
    {{ debug.1.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="評價"></p>
  </form>  
  {% endif %}
  </p>

<script >   
var flashvars = {
project: "/{{debug.0.file}}" ,
autostart: "false"
};

var params = {
bgcolor: "#FFFFFF",
allowScriptAccess: "always",
allowFullScreen: "true",
wmode: "window",
menu:"‘false"

};
var attributes = {};

swfobject.embedSWF("/static/sb2/Scratch.swf", "flashContent{{forloop.counter}}", "482", "387", "10.2.0","expressInstall.swf", flashvars, params, attributes);

</script>		
<div id="flashContent{{forloop.counter}}" >
 
</div> 		
<BR><A href="/student/debug/download/{{debug.0.id}}">原始檔下載</a>
<hr>
  </div>
{% empty %}
  <p>目前沒有人幫忙除錯</p>
{% endfor %}  
{% endwith %}  
  <h2>張貼除錯資料</h2>
  <form onsubmit="return checkvalue(this)" action="." method="Post" enctype="multipart/form-data">
    {{ debug_form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="送出"></p>
  </form>
{% endblock %}
