<div class="quiz_container">
<div class="quiz" data-pid="1">
	<h3>(<span class="pid">1</span>)將以下的程式碼寫在貓咪角色上，執行結果貓咪會說什麼？</h3>
	<div class="concept_list">
		觀念：
		<ul>
			<li>變數</li>
			<li>條件式</li>
			<li>選擇結構</li>
		</ul>
	</div>
	<table>
		<tr>
			<td>
				<div><img src="/static/exam/B01.png"></div>
			</td>
			<td>
				<div class="answer_list">
					<input type="text" name="ans" disabled="disabled" value="">
					<ol>
						<li>選我</li>
						<li>選我</li>
						<li>選我</li>
						<li>選我</li>
					</ol>
				</div>
			</td>
		</tr>
	</table>
</div>
<!----------------------------------------------------------->
<div class="quiz" data-pid="2">
	<h3>(<span class="pid">2</span>)將以下的程式碼寫在貓咪角色上，執行結果貓咪會說什麼？</h3>
	<div class="concept_list">
		觀念：
		<ul>
			<li>變數</li>
			<li>條件式</li>
			<li>選擇結構</li>
		</ul>
	</div>
	<table>
		<tr>
			<td>
				<div><img src="/static/exam/B02.png"></div>
			</td>
			<td>
				<div class="answer_list">
					<input type="text" name="ans" disabled="disabled" value="">
					<ol>
						<li>選我</li>
						<li>選我</li>
						<li>選我</li>
						<li>選我</li>
					</ol>
				</div>
			</td>
		</tr>
	</table>
</div>
<!----------------------------------------------------------->
<div class="quiz" data-pid="3">
	<h3>(<span class="pid">3</span>)將以下的程式碼寫在貓咪角色上，執行結果貓咪會說什麼？</h3>
	<div class="concept_list">
		觀念：
		<ul>
			<li>變數</li>
			<li>條件式</li>
			<li>選擇結構</li>
		</ul>
	</div>
	<table>
		<tr>
			<td>
				<div><img src="/static/exam/B03.png"></div>
			</td>
			<td>
				<div class="answer_list">
					<input type="text" name="ans" disabled="disabled" value="">
					<ol>
						<li>選我</li>
						<li>選我</li>
						<li>選我</li>
						<li>選我</li>
					</ol>
				</div>
			</td>
		</tr>
	</table>
</div>
<!----------------------------------------------------------->
<div class="quiz" data-pid="4">
	<h3>(<span class="pid">4</span>)將以下的程式碼寫在貓咪角色上，執行結果貓咪會說什麼？</h3>
	<div class="concept_list">
		觀念：
		<ul>
			<li>變數</li>
			<li>條件式</li>
			<li>選擇結構</li>
		</ul>
	</div>
	<table>
		<tr>
			<td>
				<div><img src="/static/exam/B04.png"></div>
			</td>
			<td>
				<div class="answer_list">
					<input type="text" name="ans" disabled="disabled" value="">
					<ol>
						<li>選我</li>
						<li>選我</li>
						<li>選我</li>
						<li>選我</li>
					</ol>
				</div>
			</td>
		</tr>
	</table>
</div>
<!----------------------------------------------------------->
<div class="quiz" data-pid="5">
	<h3>(<span class="pid">5</span>)將以下的程式碼寫在貓咪角色上，執行結果貓咪會說什麼？</h3>
	<div class="concept_list">
		觀念：
		<ul>
			<li>變數</li>
			<li>條件式</li>
			<li>選擇結構</li>
		</ul>
	</div>
	<table>
		<tr>
			<td>
				<div><img src="/static/exam/B05.png"></div>
			</td>
			<td>
				<div class="answer_list">
					<input type="text" name="ans" disabled="disabled" value="">
					<ol>
						<li>選我</li>
						<li>選我</li>
						<li>選我</li>
						<li>選我</li>
					</ol>
				</div>
			</td>
		</tr>
	</table>
</div>
<!----------------------------------------------------------->
<div class="quiz" data-pid="6">
	<h3>(<span class="pid">6</span>)將以下的程式碼寫在貓咪角色上，執行結果貓咪會說什麼？</h3>
	<div class="concept_list">
		觀念：
		<ul>
			<li>變數</li>
			<li>條件式</li>
			<li>選擇結構</li>
			<li>字串運算式</li>
		</ul>
	</div>
	<table>
		<tr>
			<td>
				<div><img src="/static/exam/B06.png"></div>
			</td>
			<td>
				<div class="answer_list">
					<input type="text" name="ans" disabled="disabled" value="">
					<ol>
						<li>選我</li>
						<li>選我</li>
						<li>選我</li>
						<li>選我</li>
					</ol>
				</div>
			</td>
		</tr>
	</table>
</div>
<!----------------------------------------------------------->
<div class="quiz" data-pid="7">
	<h3>(<span class="pid">7</span>)將以下的程式碼寫在貓咪角色上，執行結果貓咪會說什麼？</h3>
	<div class="concept_list">
		觀念：
		<ul>
			<li>變數</li>
			<li>條件式</li>
			<li>選擇結構</li>
		</ul>
	</div>
	<table>
		<tr>
			<td>
				<div><img src="/static/exam/B07.png"></div>
			</td>
			<td>
				<div class="answer_list">
					<input type="text" name="ans" disabled="disabled" value="">
					<ol>
						<li>選我</li>
						<li>選我</li>
						<li>選我</li>
						<li>選我</li>
					</ol>
				</div>
			</td>
		</tr>
	</table>
</div>
<!----------------------------------------------------------->
<div class="quiz" data-pid="8">
	<h3>(<span class="pid">8</span>)將以下的程式碼寫在貓咪角色上，執行結果貓咪會說什麼？</h3>
	<div class="concept_list">
		觀念：
		<ul>
			<li>變數</li>
			<li>條件式</li>
			<li>邏輯運算式</li>
			<li>選擇結構</li>
		</ul>
	</div>
	<table>
		<tr>
			<td>
				<div><img src="/static/exam/B08.png"></div>
			</td>
			<td>
				<div class="answer_list">
					<input type="text" name="ans" disabled="disabled" value="">
					<ol>
						<li>選我</li>
						<li>選我</li>
						<li>選我</li>
						<li>選我</li>
					</ol>
				</div>
			</td>
		</tr>
	</table>
</div>
<!----------------------------------------------------------->
<div class="quiz" data-pid="9">
	<h3>(<span class="pid">9</span>)將以下的程式碼寫在貓咪角色上，執行結果貓咪會說什麼？</h3>
	<div class="concept_list">
		觀念：
		<ul>
			<li>變數</li>
			<li>條件式</li>
			<li>邏輯運算式</li>
			<li>選擇結構</li>
		</ul>
	</div>
	<table>
		<tr>
			<td>
				<div><img src="/static/exam/B09.png"></div>
			</td>
			<td>
				<div class="answer_list">
					<input type="text" name="ans" disabled="disabled" value="">
					<ol>
						<li>選我</li>
						<li>選我</li>
						<li>選我</li>
						<li>選我</li>
					</ol>
				</div>
			</td>
		</tr>
	</table>
</div>
<!----------------------------------------------------------->
<div class="quiz" data-pid="10">
	<h3>(<span class="pid">10</span>)將以下的程式碼寫在貓咪角色上，執行結果貓咪會說什麼？</h3>
	<div class="concept_list">
		觀念：
		<ul>
			<li>變數</li>
			<li>條件式</li>
			<li>邏輯運算式</li>
			<li>選擇結構</li>
		</ul>
	</div>
	<table>
		<tr>
			<td>
				<div><img src="/static/exam/B10.png"></div>
			</td>
			<td>
				<div class="answer_list">
					<input type="text" name="ans" disabled="disabled" value="">
					<ol>
						<li>選我</li>
						<li>選我</li>
						<li>選我</li>
						<li>選我</li>
					</ol>
				</div>
			</td>
		</tr>
	</table>
</div>
</div>
<!----------------------------------------------------------->
{% if user.is_authenticated %}
<input class="quiz-submit" type="button" data-examid="2" value="送出" />
{% endif %}