{% extends "base.html" %}
{% load tag %}
{% block title %}Create a question{% endblock %}
{% block content %}
{{classroom.name}}的心得詞句：<font color=blue>{{word}}</font>
    <table>
    <tr>
        <td>編號</td>
        <td>姓名</td>
        <td>心得</td>
    </tr>
      {% for work in works %}
    <Tr>
      <td nowrap>{{work.index}}){{work.index|lesson_name}}</td>
      <td nowrap><a href="/student/memo_user/{{work.user_id}}">{{work.user_id|name}}</a></td>
      <td>{{work.memo|safe}}</td>
    </Tr>
      {% endfor %}
    </table>
{% endblock %}