{% extends "base.html" %}

{% block title %}My Blog{% endblock %}
{% load tz %}
{% load tag %}
{% block content %}
<table>
{% for show in lists %}
{% if forloop.counter|add:1|divisibleby:2 %} 
<tr><td>
{% endif %}
    <h2>
      <a href="/show/gallery/{{show.id}}">
        {{ show.title }}
      </a>
    </h2>
  
{% if show.number %}
   <BR>
  <iframe allowtransparency="true" width="485" height="402" src="http://scratch.mit.edu/projects/embed/{{ show.number  }}/?autostart=false" frameborder=“0” allowfullscreen></iframe>
  <BR>
{% else %}  
<script type="text/javascript" src="/static/sb2/swfobject.js"></script>
 
<script >   
var flashvars = {
project: "/{{show.file}}" ,
autostart: "false"
};

var params = {
bgcolor: "#FFFFFF",
allowScriptAccess: "always",
allowFullScreen: "true",
wmode: "window",
menu:"‘false"

};
var attributes = {};

swfobject.embedSWF("/static/sb2/Scratch.swf", "flashContent{{forloop.counter}}", "482", "387", "10.2.0","expressInstall.swf", flashvars, params, attributes);

</script>
{% endif %}              
<div id="flashContent{{forloop.counter}}" >
 
</div>   

<BR></BR>    <p class="date">
      Published {{ show.publish}} by {{ show.id|show_member }}
    </p>
{% if forloop.counter|add:1|divisibleby:2 %}
  </td><td>
{% endif %}
  {% empty %}
  目前藝廊尚無作品
  {% endfor %}
</td></tr>  
</table>  
 {% include "pagination.html" with page=page_obj %}
  
{% endblock %}