{% extends "base.html" %}

{% block title %}My Blog{% endblock %}
{% load tz %}
{% block content %}
<h1>創意秀評分情況</h1>
<table>
<tr>
<td>組別</td>
<td>組員</td>
<td>主題</td>
<td>美工設計</td>
<td>程式難度</td>
<td>創意表現</td>
<td>總分</td>
<td>名次</td>
<td>人數</td>
</tr>
{% for key, list in lists.items %} 
<tr>
<td>{{list.0.name}}</td>
<td>
{% for member in list.2 %}
({{member.seat}}){{member.student.first_name}}
{% endfor %}
</td>
<td><a href="/show/detail/{{list.3}}/{{list.0.id}}">{{list.0.title}}</a></td>
<td>{{list.1.0}}</td>
<td>{{list.1.1}}</td>
<td>{{list.1.2}}</td>
<td>{{list.1.3}}</td>
<td>{{forloop.counter}}</td>
<td>{% if list.1.4 %}{{list.1.4}} --<a href="/show/score/{{list.0.id}}">評分內容</a>{% endif %}</td>
</tr>
{% endfor %}
</table>

{% endblock %}