{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<script>
function checkvalue() { 
    var mystring = document.getElementById('id_title').value; 
    var mystring2 = document.getElementById('id_body').value; 
    if(!mystring.match(/\S/)) {
        alert ('請填寫主旨~~');
        return false;
    } else {
        if(!mystring2.match(/\S/)) { 
            alert ('請填寫說明~~');
            return false;          
        } else {
            return true;
        }
    }
}
</script>
      <form onsubmit="return checkvalue(this)" action="" enctype="multipart/form-data"  method="post">
            <table>
			<TR><TD>組別：</td><td>{{object.name}}</td></tr>
			<TR><TD>組員：</td><td>{% for member in members %}({{member.seat}}){{member.student.first_name}}{% endfor %}</td></tr>			
                {{ form.as_table }}
            </table>
            {% csrf_token %}
            <input type="submit" value="Submit">
        </form>
{% endblock %}