{% extends "base.html" %}
{% block title %}Create a question{% endblock %}
{% block head_ext %}
<script type="text/javascript" src="//cdn.ckeditor.com/4.5.9/standard-all/ckeditor.js"></script>
<script>

CKEDITOR.plugins.add('dreamerpasteimage', {
    init: function(editor) {
        editor.on('paste', function(e) {
            var reader = new FileReader();
            reader.onload = function(evt) {
                var img = CKEDITOR.dom.element.createFromHtml("<img src='"+evt.target.result+"' />");
                e.editor.insertElement(img);
            }
            e.data.dataTransfer._.files.forEach(function(file, index) {
                console.log('paste: '+index);
                reader.readAsDataURL(file);
            });
        });
    },
});
</script>
{% endblock %}
{% block content %}
        <h1>班級名稱：{{classroom.name}}</h1>
         <form action="" enctype="multipart/form-data"  method="post">
           <table>
             <tr>
             <th nowrap>公告班級:</th>
             <td>
                         {% for class in classrooms %}
           <div class="checkbox checkbox-success checkbox-inline">
           <input type="checkbox" name="classrooms" class="styled" id="cbox{{forloop.counter}}" value="{{class.id}}" {% if class.id == classroom.id %}checked{% endif %}> <label for="cbox{{forloop.counter}}">{{class.name}}</label>
           </div>
          {% endfor %}
             </td>
             </tr>
              <tr>
               <th nowrap>附加檔案:</th><td><input name=files type=file multiple>
             </td>
             </tr>       
                {{ form.as_table }}
            </table>
            {% csrf_token %}
            <input type="submit" value="Submit">
        </form>
{% endblock %}
{% block domready %}
    CKEDITOR.replace("id_content", {
        extraPlugins: 'colorbutton,colordialog,dreamerpasteimage',
    } );	
{% endblock %}