{% extends "base.html" %}
{% block title %} Teachers {% endblock %}
{% block content %}
        <a href="/teacher/classroom/add"><img src="/static/images/icon_class_new.png">新增班級</a> 
        <a href="/teacher/calendar/{{request.user.id}}"><img src="/static/images/icon_statistics.png">登入統計</a><BR><BR>
        <table>
            <tr>
                <td>名稱</td>
                <td>密碼</td>
                <td>功能</td>
        {% for classroom in classrooms %}
            <tr>
            <td>{{classroom.name}}</td>
            <td>{{classroom.password}}</td>
            <td>
                <a href="/teacher/classroom/edit/{{classroom.id}}">修改</a>|			
                <a href="/student/classmate/{{classroom.id}}">學生</a>|
                <a href="/teacher/announce/{{classroom.id}}">公告</a>|
                <a href="/student/group/{{classroom.id}}">組別</a>|
                <a href="/teacher/work/{{classroom.id}}">作業</a>|
							<a href="/teacher/work1/{{classroom.id}}">小老師</a>|
				<a href="/teacher/event12/{{classroom.id}}">12堂課</a>|
                <a href="/teacher/note/{{classroom.id}}">筆記</a>|                
				<a href="/teacher/exam/{{classroom.id}}">測驗</a>|
				<a href="/teacher/memo/{{classroom.id}}">心得</a>|
							<a href="/show/teacher/{{classroom.id}}">創意秀</a>(<A href="/show/teacher/add/{{classroom.id}}" onclick="return confirm('確定要新增嗎?')">新增</A>)|				
				<a href="/teacher/grade/{{classroom.id}}">結算成績</a>|			
				<a href="/teacher/event/{{classroom.id}}/0">事件</a>|		
				<a href="/survey/pre_survey/teacher/{{classroom.id}}">課前問卷</a>|		
				<a href="/survey/post_survey/teacher/{{classroom.id}}">課後問卷</a>|									
				<a href="/teacher/video/{{classroom.id}}">影片</a>|										
            </td>
            </tr>
        {% endfor %}
        </table>
{% endblock %}