{% extends "base.html" %}
{% block title %} Teachers {% endblock %}
{% block content %}
{% load tag %}
<h1>班級名稱：{{classroom.name}}</h1>
<BR>
        <table>
        <tr>
            <th>姓名</th>
            <th>1</th>
			<th>2</th>
            <th>3</th>
            <th>4</th>
			<th>5</th>
            <th>6</th>
            <th>7</th>
			<th>8</th>
            <th>9</th>
            <th>10</th>
			<th>11</th>
			<th>12</th>			
        </tr>
        {% for student in events %}
            <tr>
                <td nowrap>({{student.seat}}){{student.sid|name}}</td>
                {% for duration in student.durations %}
                    <td>
                        {% if duration %}
                        <a href="/teacher/event12/{{student.sid}}/{{forloop.counter}}">{{duration}}</a>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </table>
        {% include "pagination.html" with page=page_obj %}
{% endblock %}
