{% extends "base.html" %}
{% load tz %}
{% block title %} Teachers {% endblock %}
{% block content %}
        班級名稱：{{ classroom_name }}<BR>
        <table>
		<tr>
		<td colspan=3>測驗：變數</td>
		<td colspan=3>測驗：選擇結構</td>
		<td colspan=3>測驗：重複結構</td>
		</tr>
        <tr>       
            <td>姓名</td>
            <td>平均分數</td>
            <Td>測驗次數</Td>
            <td>姓名</td>			
            <td>平均分數</td>
            <Td>測驗次數</Td>
            <td>姓名</td>			
            <td>平均分數</td>
            <Td>測驗次數</Td>			
        </tr>
        {% for enroll, exam in enroll_exam %}
            <tr>
            <td>{{enroll.seat}}){{enroll.student.first_name}}</td>
            <td>{% widthratio exam.0 exam.1 1 %}</td>
            <td><a href="/teacher/exam_detail/{{classroom_id}}/{{enroll.student.id}}/1">{{exam.1}}</td>
            <td>{{enroll.seat}}){{enroll.student.first_name}}</td>			
            <td>{% widthratio exam.2 exam.3 1 %}</td>
            <td><a href="/teacher/exam_detail/{{classroom_id}}/{{enroll.student.id}}/2">{{exam.3}}</td>
            <td>{{enroll.seat}}){{enroll.student.first_name}}</td>			
            <td>{% widthratio exam.4 exam.5 1 %}</td>
            <td><a href="/teacher/exam_detail/{{classroom_id}}/{{enroll.student.id}}/3">{{exam.5}}</td>			
            </tr>
        {% endfor %}
        </table>

{% endblock %}
