{% extends "base.html" %}
{% block title %} Teachers {% endblock %}
{% block head_ext %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['time', 'seat'],
{% for list in lists %}
    {% for time in list.start %}
          [{{time}}, {{list.seat}}],
    {% endfor %}
{% endfor %}
        ]);

        var options = {
          title: 'Video time vs. Seat comparison',
          hAxis: {title: 'Video time', minValue: 0, maxValue: 15},
          vAxis: {title: 'seat', minValue: 0, maxValue: 15},
          legend: 'none'
        };

        var chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));

        chart.draw(data, options);
      }
    </script>
{% endblock %}
{% block content %}
{% load tag %}
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
{% endblock %}
