{% extends "base.html" %}
{% block title %}Create a question{% endblock %}
{% block content %}
    <table>
    <tr>
        <td>主題</td>
        <td>編號</td>
        <td>作品</td>
        <td>班級</td>
        <td>心得</td>      
    </tr>
    {% for lesson in lesson_list %}
    {% with c=forloop.counter %}
        <tr align=left>
        <td>{{lesson.1}}</td>
        <td align=right>{{lesson.0}}</td>
            <td>{{lesson.2}}</td>
            <td><a target=_blank href="/teacher/score/{{classroom.id}}/{{c}}">{{classroom.name}}</a></td>
          <td><a target=_blank href="/student/memo/{{classroom.id}}/{{c}}">心得</a> [<a target=_blank href="/student/memo_work_count/{{classroom.id}}/{{c}}">統計</a>]</td>
        </tr>
    {% endwith %}
    {% endfor %}
    </table>
{% endblock %}